.skillInfoCard {
  min-height: 30rem;
  border-radius: 1rem;
  border: 1.5px solid var(--light-text--color);
  /* background-color: bisque; */
  backdrop-filter: blur(1rem);
}
.skillInfoCard h3 {
  color: var(--light-title--color);
  font-size: 2em;
  font-weight: bold;
  padding: 0rem 2rem;
  /* background-clip: text;
  -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
  border-bottom: 1px solid var(--light-text--color);
  font-family: "Handjet", cursive;
  font-family: "Rowdies", cursive;
  font-weight: inherit;
}
.skillInfoContent {
  padding: 2rem;
}
.skillInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.skillInfo p {
  font-family: "Assistant", sans-serif;
  font-family: "Handjet", cursive;
  font-family: "Oxygen", sans-serif;
  font-family: "Rowdies", cursive;
  color: var(--light-title--color);
}
.skillInfo .percentage {
  color: var(--light-text--color);
}
.skillProgressBg {
  width: 100%;
  height: 0.5rem;
  background: var(--dark--background--color);
  /* background-color: white; */
  border-radius: 0.5rem;
  margin: 1rem 0;
  overflow: hidden;
}
.skillProgress {
  width: 0%;
  height: 0.5rem;
  /* background-color: var(--dark--background--color); */
  background-color: bisque;

  border-radius: 0.5rem;
  transition: all 0.5s ease-in;
}
@media (max-width: 1110px) {
  .skillInfoCard h3 {
    font-size: 1.5rem;
  }
  .skillInfo p {
    font-size: 0.8rem;
  }
  .skillInfoContent {
    padding: 1.5rem;
    padding-top: 0px;
  }
  .skillInfoCard h1 {
    padding: 0rem 1rem;
  }
}
