.App {
  background-color: #f7ffe9;
}
:root {
  --dark--background--color: #0d1321;
  --light-background--color: #f0ebd8;
  --light-text--color: #3e5c76;
  --light-title--color: #1d2d44;
  --dark--text--color: #f0ebd8;
}
